@import "settings/bootstrap";

body {
  background: rgb(220, 220, 220);
  border: 2rem solid rgba(0, 0, 0, .05);
  box-shadow: inset 0 0 4rem rgba(0, 0, 0, .3);
  padding: 2rem;
  display: grid;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

div {
  position: relative;
  text-align: center;
}

h1 {
  margin: 0;
}

p {
  opacity: .8;
  margin: 1.25rem auto
}

svg {
  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 50vw;
  max-height: 50vh;
  width: auto;
  height: auto;
  opacity: .25;
  color: #fff;
}

a {
  display: inline-block;
  color: inherit;
  border: 2px solid black;
  color: black;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-decoration: none;
  background: transparent;
  transition: 250ms all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .3);

  &:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
    background: rgba(white, .5);
    text-decoration: none;
    color: black;
  }
}